body {
    font-family: 'Open Sans', sans-serif;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(31, 29, 29);
}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
